<div id="logo">
<img src="<%= image_path("my-monopoly.gif") %>" alt="My Monopoly">
<br>
<%= link_to "Players", players_path, class: 'button' %>
<%= link_to "Start Game", game_index_path, class: 'button' %>
</div>